USE [master]
GO
/****** Object:  Database [Highschool]    Script Date: 2025-02-08 11:17:58 ******/
CREATE DATABASE [Highschool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Highschool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Highschool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Highschool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Highschool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Highschool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Highschool]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NULL,
	[class_name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](50) NOT NULL,
	[department_id] [int] NULL,
	[course_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_roles]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[salary] [decimal](20, 2) NULL,
	[department_id] [int] NULL,
	[dateStarted] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grades]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grades](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[teacher_id] [int] NULL,
	[grade_set] [date] NOT NULL,
	[subject_id] [int] NULL,
	[student_grade_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[possible_grades]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[possible_grades](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[grade_letter] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[social_security] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_code] [varchar](50) NOT NULL,
	[subject_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[classes] ON 

INSERT [dbo].[classes] ([class_id], [teacher_id], [class_name]) VALUES (1, 3, N'ROT24')
INSERT [dbo].[classes] ([class_id], [teacher_id], [class_name]) VALUES (2, 3, N'SOT23')
INSERT [dbo].[classes] ([class_id], [teacher_id], [class_name]) VALUES (3, 4, N'TOT25')
SET IDENTITY_INSERT [dbo].[classes] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([course_id], [course_name], [department_id], [course_active]) VALUES (1, N'Teknikvetenskap', 2, 1)
INSERT [dbo].[courses] ([course_id], [course_name], [department_id], [course_active]) VALUES (2, N'Informations och medieteknik', 2, 1)
INSERT [dbo].[courses] ([course_id], [course_name], [department_id], [course_active]) VALUES (3, N'Samhällsbyggande och miljö', 2, 0)
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [department_name]) VALUES (1, N'Administration')
INSERT [dbo].[departments] ([department_id], [department_name]) VALUES (2, N'Teknik')
INSERT [dbo].[departments] ([department_id], [department_name]) VALUES (3, N'Natur')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_roles] ON 

INSERT [dbo].[employee_roles] ([role_id], [role_name]) VALUES (1, N'Rektor')
INSERT [dbo].[employee_roles] ([role_id], [role_name]) VALUES (2, N'Administratör')
INSERT [dbo].[employee_roles] ([role_id], [role_name]) VALUES (3, N'Lärare')
SET IDENTITY_INSERT [dbo].[employee_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([employee_id], [role_id], [first_name], [last_name], [salary], [department_id], [dateStarted]) VALUES (1, 1, N'Lasse', N'Andersson', CAST(40000.00 AS Decimal(20, 2)), 1, CAST(N'2020-05-16' AS Date))
INSERT [dbo].[employees] ([employee_id], [role_id], [first_name], [last_name], [salary], [department_id], [dateStarted]) VALUES (2, 2, N'Sara', N'Sjögren', CAST(22000.00 AS Decimal(20, 2)), 1, CAST(N'2020-05-16' AS Date))
INSERT [dbo].[employees] ([employee_id], [role_id], [first_name], [last_name], [salary], [department_id], [dateStarted]) VALUES (3, 3, N'Anna', N'Melin', CAST(25000.00 AS Decimal(20, 2)), 2, CAST(N'2020-05-16' AS Date))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[grades] ON 

INSERT [dbo].[grades] ([grade_id], [student_id], [teacher_id], [grade_set], [subject_id], [student_grade_id]) VALUES (1, 1, 3, CAST(N'2024-05-16' AS Date), 1, 6)
INSERT [dbo].[grades] ([grade_id], [student_id], [teacher_id], [grade_set], [subject_id], [student_grade_id]) VALUES (2, 2, 3, CAST(N'2023-07-19' AS Date), 9, 3)
INSERT [dbo].[grades] ([grade_id], [student_id], [teacher_id], [grade_set], [subject_id], [student_grade_id]) VALUES (3, 3, 3, CAST(N'2024-08-23' AS Date), 6, 5)
SET IDENTITY_INSERT [dbo].[grades] OFF
GO
SET IDENTITY_INSERT [dbo].[possible_grades] ON 

INSERT [dbo].[possible_grades] ([grade_id], [grade_letter]) VALUES (1, N'F')
INSERT [dbo].[possible_grades] ([grade_id], [grade_letter]) VALUES (2, N'E')
INSERT [dbo].[possible_grades] ([grade_id], [grade_letter]) VALUES (3, N'D')
SET IDENTITY_INSERT [dbo].[possible_grades] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([student_id], [class_id], [first_name], [last_name], [social_security]) VALUES (1, 1, N'Mark', N'Brightson', N'100516-3184')
INSERT [dbo].[students] ([student_id], [class_id], [first_name], [last_name], [social_security]) VALUES (2, 1, N'Vicky', N'Handy', N'100717-5236')
INSERT [dbo].[students] ([student_id], [class_id], [first_name], [last_name], [social_security]) VALUES (3, 2, N'Craig', N'Brightson', N'090325-5896')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[subjects] ON 

INSERT [dbo].[subjects] ([subject_id], [subject_code], [subject_name]) VALUES (1, N'MAT3', N'Matte 3')
INSERT [dbo].[subjects] ([subject_id], [subject_code], [subject_name]) VALUES (2, N'MAT4', N'Matte 4')
INSERT [dbo].[subjects] ([subject_id], [subject_code], [subject_name]) VALUES (3, N'MAT5', N'Matte 5')
SET IDENTITY_INSERT [dbo].[subjects] OFF
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [dateStarted]
GO
ALTER TABLE [dbo].[grades] ADD  DEFAULT (getdate()) FOR [grade_set]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[employee_roles] ([role_id])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_department_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_department_id]
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD  CONSTRAINT [fk_student_grade_id] FOREIGN KEY([student_grade_id])
REFERENCES [dbo].[possible_grades] ([grade_id])
GO
ALTER TABLE [dbo].[grades] CHECK CONSTRAINT [fk_student_grade_id]
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD  CONSTRAINT [fk_subject_id] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[grades] CHECK CONSTRAINT [fk_subject_id]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[classes] ([class_id])
GO
/****** Object:  StoredProcedure [dbo].[GetStudentById]    Script Date: 2025-02-08 11:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentById]
(
    @Id int
)
AS
SELECT
students.first_name + ' ' + students.last_name AS 'Name',
students.social_security AS 'Social_Security_Number',
classes.class_name AS 'Class'
FROM students
JOIN classes ON students.class_id = classes.class_id
WHERE students.student_id = @Id
GO
USE [master]
GO
